* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white-wine: #FFDAB9;
    --dark-white-wine: #E09F3E;
    --red-wine: #9E2A2B;
    --dark-red-wine: #540B0E;
    --white: #FFF;
    --black: #000;
    --deep-green: #081C15;
}