* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white-wine: #f4efe7;
    --dark-white-wine: #f2d184;
    --red-wine: #d53132;
    --dark-red-wine: #540B0E;
    --white: #FFF;
    --black: #000;
    --pink: #e38389;
    --dark-grey: #404040;
    --light-grey-green: #4c6156;
    --green:#61bd2f;
    --deep-green: #081C15;
    --Alegreya-SC: 'Alegreya SC', serif;
    --Charmonman: 'Charmonman', cursive;
    --Poppins: 'Poppins', sans-serif;
    --Spectral-SC: 'Spectral SC', serif;
    --STIX-Two-Tex: 'STIX Two Text', serif;
}

