.text-align-center {
    text-align: center;
}
.filter-container {
    padding: 36px;
    flex-flow: wrap;
    display: inline-flex;
    place-content: center;
    width: 80%;
    justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
    .filter-container {
        width: 100%;
    }
}