

.errorImage {
    webkit-fill-available: 100%;
    position: absolute;
}

.error-container h4 {
    padding: 6px;
}

.error-message-link {

    position: absolute;
    top: 350px;
    background: rgba( 255, 255, 255, 0.60 );
    box-shadow: 0 8px 32px 0 rgba(10, 12, 40, 0.24);
    backdrop-filter: blur( 3px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center;
}

@media screen and (max-width: 425px) {

}