

.background-bottles {
    height: 100%;
    padding: 40px 40px;
}

.card-add-wine {
    padding: 40px;
    color: var(--black);
    background: linear-gradient(182deg, #f4efe7, #f2d184, #f5e2b4);
    background-size: 600% 600%;
    -webkit-box-shadow: 0px 22px 30px -5px rgba(0,0,0,0.4);
    box-shadow: 0px 22px 30px -5px rgba(0,0,0,0.4);
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    border-radius: 10px;
}

@-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

.upload-container {
    text-align: center;
}

.upload-image {
    width: 150px;
    margin: 0 auto 20px;
    height: 150px;
    background-color: var(--white);
    text-align: center;
    border-radius: 30px;
    background-image: url("../../assets/images/placeholder-image-kate.png");
    background-size: cover;

}

.background-white-wine {
    background-color: var(--white);
    padding: 40px;
}

.card-add-wine-black {
    border: 1px solid var(--dark-red-wine);
    padding: 40px;
    color: var(--black);
}

.card-add-wine-black h1 {
    color: var(--dark-red-wine);
    padding-bottom: 40px;
}

.input-add-wine {
    font-size: 18px;
    padding: 6px;
    width: 100%;
    margin: 16px 0;
    border: 1px solid var(--white);
    border-radius: 8px;
}

.textarea-add-wine {
    font-size: 18px;
    padding: 6px;
    width: 100%;
    margin: 16px 0;
    border: 1px solid var(--white);
    height: 150px;
    border-radius: 8px;
}

.select-add-wine {
    font-size: 18px;
    padding: 6px;
    width: 100%;
    margin: 16px 0;
    border: 1px solid var(--white);
    border-radius: 8px;
}

.text-align-center {
    text-align-last: center;
}

.rating {
    margin: 10px 0;
    width: 100%;
}

.rating label {
    cursor: pointer;
    transition: 0.3s;
}

.rating label .MuiRating-iconEmpty {
        color: rgb(255 180 27);
    }


@media screen and (min-width: 768px) {
    .background-bottles {
        font-size: 28px;
    }
    .card-add-wine {
        padding: 50px;
    }

    .card-add-wine form {
        display: flex;
        flex-flow: wrap;
    }
    .upload-image {
        height: 300px;
        width: 300px;
        margin-bottom: 20px;
    }
    .upload-image-file {
        text-align-last: center;
        font-size: 24px;
        width: 100%;
        padding: 8px;
    }

    .upload-container {
        width: 50%;
        align-self: center;
        margin: 40px 0;
        text-align: center;
    }
    .name-container {
        width: 50%;
    }
    .wine-text-container {
        text-align: center;
        width: 100%;
    }
    .text-align-center {
        margin: 20px auto;
    }

    .text-align-center button {
        font-size: 36px;
        border-radius: 10px;
    }

    .wine-text-container label span {
        font-size: 80px;
        place-content: center;
    }

    .rating {
        margin-bottom: 20px;
    }

    .input-add-wine,
    .select-add-wine,
    .textarea-add-wine{
        font-size: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .background-bottles {
        width: 970px;
        margin: auto;
    }
}
