
.input-group {
    padding: 40px;
    text-align: center;
    place-content: center;
}
.login-input {
    font-size: 18px;
    padding: 6px;
    width: 95%;
    margin: 16px 0;
    border: 4px solid white;
}

.error-login-message {
    color: var(--white);
    font-size: 18px;
}

.login-btn {
    font-size: 18px;
    padding: 6px;
    width: 100%;
    margin: 16px 0;
    cursor: pointer;
    color: white;
    background: none;
    border: 4px solid white;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.login Button {
    margin: 10px;
}

@media screen and (min-width: 500px) {


}