.btn {
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    padding: 8px 20px;
    transition: all 0.2s ease-out;
    color: var(--white);
    transition: 250ms;
}

.btn--white {
    background-color: var(--white);
    color: var(--deep-green);
    border: 2px solid var(--white);
}

.btn--dark-red-wine {
    background-color: var(--dark-red-wine);
    color: var(--white);
    border: 2px solid var(--dark-red-wine);
}
.btn--green {
    background-color: var(--green);
    color: var(--white);
    border: 2px solid var(--white);
}

.btn--outline {
    background: var(--white);
    color: var(--black);
    padding: 8px 20px;
    border-radius: 50px;
    border: 2px solid var(--white);
    transition: all 0.2s ease-out;
}

.btn--icon-red {
    color: var(--black);
    background-color: var(--white);
    padding: 8px 20px;
    transition: all 0.2s ease-out;
    font-size: 28px;
}

.btn--medium {
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 18px;
}


.btn--large {
    padding: 12px 26px;
    border-radius: 50px;
    font-size: 20px;
}

.btn--small {
    font-size: 18px;
    padding: 8px 20px;
}

.btn--medium:hover {
    background-color: var(--white);
    color: var(--black);
    transition: all 0.2s ease-out;
    border: 2px solid var(--black);
}


.btn--large:hover {
    padding: 12px 26px;
    background-color: var(--white);
    color: var(--black);
    transition: all 0.2s ease-out;
    border: 2px solid var(--black);
}

.btn--small:hover {
    font-size: 28px;
    padding: 8px 20px;
    transition: all 0.2s ease-out;
    color: var(--red-wine);
}


