.filter-by-rating-container {
    padding: 20px 0;
}

.filter-by-rating-container label {
    font-size: 18px;
    padding: 6px;
}

.filter-by-rating {
    font-size: 18px;
    padding: 6px;
    margin: 16px 0;
    border-radius: 20px;
    width: 200px;
    background-color: white;
}