.image-bottles {
    background-image: url("../images/cellar-kate.png");
    height: 400px;
    width: 100%;
    text-align: center;
    background-size: contain;
    background-position-y: center;
}

.image-bottles h1 {
    color: var(--dark-white-wine);
    padding-top: 150px;
    font-size: 40px;
}