.background-colour {
    text-align: -webkit-center;
    width: 100%;
    height: 100%;
    place-content: center;
    padding-bottom: 80px;
    background: linear-gradient(8deg, #ee7483, #f3d6b5);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 40s ease infinite;
    -moz-animation: AnimationName 40s ease infinite;
    animation: AnimationName 40s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}


.block {
    height: 80px;
    background-color: var(--white);

}

.betty-container,
.betty-container img {
    display: none;
}

.controller-container {
    display: flex;
    text-align: center;
    color: var(--black);

}

.controller- {
    width: 50%;
    font-size: 24px;
    padding: 10px;
    color: var(--black);
    background-color: var(--white);

}

.controller-selected-controller {
    width: 50%;
    font-size: 24px;
    padding: 10px;


}

.card-h h1 {
    padding-top: 40px;
}

.error-message {
    color: var(--dark-grey);
}

@media screen and (min-width: 768px) {

    .background-colour {
        padding: 100px 0;
        display: flex;
    }

    .box-shadow {
        display: flex;
        -webkit-box-shadow: 0px 4px 31px 0px rgba(0,0,0,0.81);
        box-shadow: 0px 4px 31px 0px rgba(0,0,0,0.81);
    }

    .block {
        display: none;
    }

    .betty-container {
        display: flex;
        height: 632px;
        width: 350px;
        background-color: white;
    }

    .betty-container img {
        display: flex;
        width: 350px;
        height: 350px;
        margin: auto;
    }

    .controller-container {
        width: 350px;
    }

    .controller- {
        background: none;
        -webkit-box-shadow: inset 9px -3px 31px -9px rgba(0,0,0,0.52);
        box-shadow: inset 9px -3px 31px -9px rgba(0,0,0,0.52);
    }
    .controller-selected-controller {
        background-color: var(--white);
        text-decoration: underline;
    }

    .card-h {
        width: 350px;
        height: 580px;
        background-color: var(--white);
    }
    .card-h h1 {
        padding-top: 100px;
        font-size: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .betty-container,
    .controller-container,
    .card-h {
        width: 400px;
    }
    .betty-container img {
        width: 400px;
        height: 400px;
    }
    .background-colour {
        padding: 140px 0;
    }

}

@media screen and (min-width: 1440px) {
    .betty-container,
    .controller-container,
    .card-h {
        width: 500px;
    }
    .betty-container img {
        width: 500px;
        height: 500px;
    }

}

@media screen and (min-width: 2560px) {
    .betty-container,
    .controller-container,
    .card-h {
        width: 600px;
    }
    .betty-container img {
        width: 600px;
        height: 600px;
    }

    .background-colour {
        padding: 200px 0;
    }

}

