.background-cellar {
    text-align: -webkit-center;
    background: url(../images/marvin-l-61sZcZl3Mlk-unsplash.jpg) no-repeat center center;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.controller-container {
    display: flex;
    text-align: center;
    color: white;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.controller- {
    width: 50%;
    font-size: 24px;
    padding: 10px;
    background-color: black;
}

.controller-selected-controller {
    width: 50%;
    font-size: 24px;
    padding: 10px;
}

.card-h {
    margin-bottom: 50px;
}

.error-message {
    color: var(--red-wine);
}

@media screen and (min-width: 500px) {

    #background-cellar {
        text-align: -webkit-center;
    }
    .block {
        height: 50px;
    }

    .controller-container {
        width: 500px;
    }

    .controller- {
        background: none;
    }
    .controller-selected-controller {
        background-color: black;
    }

    .card-h {
        width: 500px;
        background-color: black;
    }


}
