.hero-container {
    color: var(--black);
    background-image: url("../assets/images/vineyard-kate.png");
    background-size: cover;
    height: 400px;
    width: 100%;
    padding-top: 70px;
    background-position-y: center;
    background-color: var(--white-wine);
}

.header-container {
    width: 80%;
}

.header-container h2 {
    font-family: var(--STIX-Two-Tex);
    padding: 20px 0 0 20px;
    font-size: 32px;
}

.header-container p {
    padding-left: 20px;
    font-size: 24px;
    font-family: var(--Poppins);
}

.header-container div {
    margin: 40px 0 0 20px;
}
.header-container a {
    border-radius: 50px;
}

@media screen and (min-width: 426px) {

    .hero-container {
        height: 500px;
    }

}

@media screen and (min-width: 768px) {

    .hero-container {
        height: 600px;
    }

    .hero-btns {
        display: block;
        margin: 40px auto;
    }

    .header-container {
        width: 60%;
    }

    .hero-btns .btn {
        margin: 20px;
    }

    .header-container h2 {
        font-size: 50px;
    }

    .header-container p {
        font-size: 28px;
    }
}

@media screen and (min-width: 1024px) {

    .hero-container {
        height: 900px;
    }

    .header-container h2 {
        font-size: 60px;
        padding: 100px 0 0 40px;
    }

    .header-container p {
        font-size: 40px;
        padding-left: 40px;
    }

    .hero-container div a {
        margin: 30px 40px;
        font-size: 40px;
    }

}
@media screen and (min-width: 1440px) {

    .hero-container {
         height: 1100px;
         background-position: bottom;
    }

    .header-container h2 {
        font-size: 75px;
        padding: 140px 0 0 60px;
    }

    .header-container p {
        font-size: 40px;
        padding-left: 60px;
    }

    .hero-container div a {
        margin: 30px 40px;
        font-size: 40px;
    }
}

@media screen and (min-width: 2000px) {

    .hero-container {
        height: 1200px;
    }
}
@media screen and (min-width: 2200px) {

    .hero-container {
        height: 1300px;
    }
}
@media screen and (min-width: 2450px) {

    .hero-container {
        height: 1400px;
    }
}

@media screen and (min-width: 2560px) {

    .hero-container {
        background-position: bottom;
    }

    .header-container h2 {
        font-size: 100px;
        padding: 250px 0 0 80px;
    }

    .header-container p {
        font-size: 50px;
        padding-left: 80px;
    }

    .hero-container div a {
        margin: 30px 80px;
        font-size: 50px;
    }
}