video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: -50px;
}

.hero-container {
    text-align-last: center;
    color: white;
}

.hero-container h1 {
    padding-top: 40px;
    font-size: 80px;
}

.hero-container p {
    font-size: 30px;
}

.hero-btns {
    display: grid;
    width: 80%;
    margin: auto;
}

.hero-btns .btn {
    margin: 10px;
}

@media screen and (min-width: 600px) {
    .hero-btns {
        display: block;
        margin: 40px auto;
    }

    video {
        top: 0;
        background-color: var(--black);
        object-fit: none;
    }

    .hero-container h1 {
        padding-top: 150px;
    }

    .hero-btns .btn {
        margin: 20px;
    }

    .hero-container h1 {
        font-size: 110px;
    }

    .hero-container p {
        font-size: 46px;
    }
}