.hero-container {
    color: var(--dark-grey);
    background-image: url("./placeholderwinery.jpg");
    background-size: cover;
    height: 400px;
    width: 100%;

}

.header-container {
    width: 80%;
}

.header-container h2 {
    font-family: var(--STIX-Two-Tex);
    padding: 20px 0 0 20px;
    font-size: 36px;
}

.header-container p {
    padding-left: 20px;
    font-size: 18px;
    font-family: var(--Poppins);
    text-shadow: 5px 0px 5px #fff, 5px 0px 5px #fff;
}

.header-container div {

    margin: 40px 0 0 20px;
}
.header-container a {
    border-radius: 50px;
}

@media screen and (min-width: 600px) {
    .hero-btns {
        display: block;
        margin: 40px auto;
    }

    video {
        top: 0;
        background-color: var(--black);
        object-fit: none;
    }

    .hero-container h1 {
        padding-top: 150px;
    }

    .hero-btns .btn {
        margin: 20px;
    }

    .hero-container h1 {
        font-size: 110px;
    }

    .hero-container p {
        font-size: 46px;
    }
}